html, body {
	height: 100%;
}
header {
	z-index: 999;
	position: fixed;
	width: 100%;
	height: 56px;
	background-color: #eee;
}
.logo {
	color: #6699cc;
	font-size: 45px;
	margin-left: 20px;
	line-height: 56px;
}
.head-right {
	margin-right: 10px;
	font-size: 14px;
}
.head-right a {
	color: #666;
}
.head-right a:hover {
	color: #6699cc;
}
.head-right li {
	margin-right: 10px;
	line-height: 56px;
}
.user {
	margin-top: 5px;
}
.user-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 5px;
}
.user-name {
	height: 40px;
	line-height: 20px;
}
.sidebar {
	position: fixed;
	top: 56px;
	left: 0;
	width: 200px;
	height: 100%;
	background-color: #336699;
	box-sizing: border-box;
}
.sidenav {
	margin-top: 30px;
	font-size: 14px;
}
.sidenav li {
	height: 30px;
	line-height: 30px;
	text-indent: 2em;
}
.sidenav li:hover {
	background-color: #6699cc;
}
.sidenav a:hover {
	color: #eee;
}
.nav-item {
	color: #eee;
}
.main {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
	height: 100%;
	padding-top: 56px;
	box-sizing: border-box;
}
iframe {
	display: block;
	width: 100%;
	height: 100%;
}
